.facebook {
  color: white; }

.instagram {
  color: white; }

.whatsapp {
  color: white; }

.twitter {
  color: white; }

.input, .input1 {
  background-color: #fff;
  color: #8d8d8d;
  border: 1px solid #e5e5e5;
  height: 40px;
  width: 100%;
  margin: 0.5rem;
  padding: 0 16px; }

.input1 {
  display: inline;
  width: 50%; }

.parrafosEstilo {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  text-align: center; }

.input1 {
  width: 50%;
  height: 40px; }

html {
  font-family: 'Montserrat', sans-serif; }

body {
  background-color: #ffffff;
  margin: 0; }

.flex-header {
  display: flex;
  flex-direction: column; }

.flex-main {
  display: flex;
  flex-direction: column; }

.flex-footer {
  display: flex;
  flex-direction: column; }

/*header*/
header {
  background-color: #ffffff;
  color: #000000; }

.Envios {
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  align-items: center;
  background-color: #efefefef;
  color: #000000;
  margin: 0rem;
  padding: 0rem;
  height: 2.1rem; }

.navbar-collapse {
  flex-grow: .5;
  align-items: center; }

.navbar-brand {
  font-size: 2.25rem; }

.flexItem {
  margin: .5rem; }

header li {
  display: inline-block;
  margin: 2rem 1rem 1rem;
  font-size: 1.1em; }

.navbar-light .navbar-brand {
  padding-left: 5rem;
  color: #000000;
  transition: color 0.1s ease; }
  .navbar-light .navbar-brand:hover {
    color: #0d6efd; }

.navbar-light .navbar-nav .nav-link {
  color: black;
  transition: color 0.1s ease; }
  .navbar-light .navbar-nav .nav-link:hover {
    color: #0d6efd; }

.btn-outline-success {
  color: #0d6efd;
  border-color: #0d6efd; }
  .btn-outline-success:hover {
    transition: .15s ease-in-out;
    background-color: #0d6efd;
    border-color: #0d6efd; }

section {
  text-align: center; }

section article {
  margin: .5rem;
  padding: .5rem; }
  section article section article h3 {
    font-size: 1rem;
    margin: 1rem; }
    section article section article h3 section article p {
      font-size: 1rem;
      margin: 1rem; }

.comentarios {
  display: flex;
  flex-direction: column;
  align-items: center; }

.button {
  margin: .5rem; }

footer {
  background-color: #000000;
  padding: 2.5rem;
  color: #ffffff; }

footer h6 {
  color: #8d8d8d;
  margin: 0rem;
  font-size: .9rem; }

.icon {
  display: flex;
  margin: .5rem;
  justify-content: center; }

.redes {
  display: flex;
  justify-content: space-between; }

footer p {
  text-align: center;
  margin: .5rem;
  padding: .5rem; }

footer a {
  transition: color 0.1s ease;
  color: #ffffff;
  text-decoration: none;
  margin: .5rem;
  padding: .5rem; }
  footer a:hover {
    color: #0d6efd; }

.p {
  text-align: center;
  margin: .5rem;
  padding: .5rem; }

.pi {
  margin: 1.5rem; }

.flexInicio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.flexChombas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.chombas {
  font-size: 1rem;
  text-align: center;
  background-color: #ffffff;
  margin: 1.5rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  color: black;
  padding: 1rem;
  width: 230px;
  height: 400px; }
  .chombas:hover {
    box-shadow: 0 0.1rem 0.6rem #0d6efd;
    transition: 0.1s ease-in-out;
    transform: scale(1.03);
    cursor: pointer; }

.nosotrosFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }

.flexFormulario {
  display: flex;
  justify-content: center;
  margin: 1rem; }

.formulario {
  color: #8d8d8d;
  text-align: center;
  background-color: #ffff;
  padding: 1.5rem;
  width: 360px; }

.formulario p {
  margin: 0; }

.formulario h2 {
  font-size: 2rem;
  color: #000000; }

.flexUbicacion {
  display: flex;
  justify-content: center; }

.ubicacion {
  background-image: #fff;
  margin: 3rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  padding: 1rem; }

@media only screen and (max-width: 480px) {
  .redes {
    display: flex;
    flex-direction: column; }
  .navbar-brand {
    justify-content: flex-start; } }

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .redes {
    display: flex;
    flex-direction: column; }
  .img-fluid .rounded-start {
    width: 354px;
    height: 401px; }
  .navbar-brand {
    justify-content: flex-start; } }
